Find the second highest salary in the company.

SELECT MAX(salary) AS second_highest_salary
FROM employees
WHERE salary < (SELECT MAX(salary) FROM employees);

List all employees who earn more than the average salary.


SELECT name, salary
FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees);

Get department-wise average salary.

SELECT d.department_name, AVG(e.salary) AS avg_salary
FROM employees e
JOIN departments d ON e.department_id = d.department_id
GROUP BY d.department_name;

Find employees who joined in the year 2019 or later, sorted by hire_date.

SELECT name, hire_date
FROM employees
WHERE YEAR(hire_date) >= 2019
ORDER BY hire_date;

List departments that have no employees.

SELECT d.department_name
FROM departments d
LEFT JOIN employees e ON d.department_id = e.department_id
WHERE e.emp_id IS NULL;